* {
    box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Roboto',sans-serif;
  background-image: url("images/3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.header {
    background-image: url("images/isabela.jpg");
    padding: 0px;
    text-align: left;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
}

/* home, dishes, about */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    padding-left: 100px;

}
li a:hover {
    background-color: #111;
}
ul {
    list-style-type: none;
    margin-bottom: 20;
    padding: 20;
    overflow: hidden;
     background-color: #737373;
	
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
	margin-top:20px;
	
	
}

/* body */
.column {
    float: left;
    width: 30%;
    padding: 30px;
    margin-left: 40px;
}
.column2 {
    float: left;
    width: 40%;
    padding: 20px;
    margin-left: 90px;

}
.column5 {
    float: left;
    width: 20%;
    padding: 10px;
}
.columnfull {
    float: left;
    width: 100%;
    padding: 60px;
    overflow-y: hidden;
}


.row:after {
    content: "";
    display: table;
    clear: both;

}

@media (max-width:600px) {
    .column {
        width: 100%;
    }
    .columnfull {
        width: 100%;
    }
    .column2 {
        width: 100%;
    }
}

/*Picture with title */
.polaroid {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: lefts;
  background-color: #f3f3f3;
  
}
.polaroid1 {
  width:200px;
  height:200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  background-color: #f3f3f3;
}

.container {
  padding: 10px;
}
.container a:hover {
    color: #9999ff;
}



/* footer */
footer {
    padding: 5px;
    color: white;
    background-color: #111;
    text-align: center;
	margin-top:20px;
    }

section, nav {
    padding: 1.5em 1em;
    opacity: 1;
}
section.bg-black, nav.bg-black {
    background: #111;
    color: white;
}

.center2 { 
    height: 300px;
    position: relative;
    padding: 10px;
    
	margin-left:150px;
	
}
.productrow{
    float: left;
    width: 15%;
    margin-left: 40px;
    text-align: center;
    font-size: 20px;
	margin-bottom: 60px;
	color: green;
	
}

.row{
    float: left;
    width: 30%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
	margin-top:100px;
	color: green;
	

}

.row img{
	border-radius: 3px;
}
.product1 {
    width: 170px;
    height: 170px;
    border: 10px solid white;
 
}
.product1:hover{
    opacity: 0.5;
}